@model Snow.AuthorityManagement.Web.Models.Users.CreateOrEditUserModalViewModel

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a href="#UserInformationsTab" class="nav-link active" data-toggle="tab" role="tab">
            用户信息
        </a>
    </li>
    <li class="nav-item">
        <a href="#RolesTab" data-toggle="tab" role="tab" class="nav-link">
            角色 @*<b class="badge badge-primary"><span id="assigned-role-count">@Model.AssignedRoleCount</span></b>*@
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="UserInformationsTab" role="tabpanel">
        <form asp-controller="User" asp-action="CreateOrEdit" id="modelForm" method="post" enctype="multipart/form-data"
              data-ajax="true" data-ajax-success="saveSuccess" data-ajax-failure="saveFailure">
            @Html.AntiForgeryToken()

            <div class="modal-body form-horizontal" id="modify">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.ID" />

                <div class="form-group">
                    <label asp-for="User.Name"></label>
                    <input asp-for="User.Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.User.Name)" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="User.UserName"></label>
                    <input asp-for="User.UserName" type="email" class="form-control" placeholder="@Html.DisplayNameFor(model => model.User.UserName)">
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="User.PhoneNumber"></label>
                    <input asp-for="User.PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(model => model.User.PhoneNumber)" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="RolesTab" role="tabpanel">
        @foreach (var role in Model.Roles)
        {
            <label class="icheck-turquoise">
                <input id="EditUser_@(role.Name)" type="checkbox" name="@(role.Name)" data-id="@(role.ID)" value="true" @Html.Raw(role.Selected ? "checked=\" checked\"" : "")>
                <label for="EditUser_@(role.Name)">
                    @role.DisplayName
                </label>
            </label>
        }
    </div>
</div>

<script type="text/javascript">
    $.validator.unobtrusive.parse('form');
    if ($('#Role').data('select2') !== undefined) {
        $('#Role').data('select2').destroy();
    }
    $('#Role').select2({
        language: "zh-CN",// 指定语言为中文，国际化才起效
        placeholder: '请选择',
        width: '100%',
        //data: modules
    });
</script>